prefer-workspace-packages=true
link-workspace-packages=deep
save-workspace-protocol=false

# Use node-linker hoisted to mimic npm and fix devvit typescript errors
# https://pnpm.io/npmrc#node-linker
node-linker=hoisted