html,
body {
    font-family: "Cabin", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 960px;
    margin: 0 auto;
    text-align: center;
}

.separator {
    width: 100%;
    height: 0.25rem;
    background-color: #f2f2f2;
    margin: 1rem 0;
}

.flex-break {
    flex-basis: 100%;
    height: 1px;
    margin: 0.25rem 0;
    border-bottom: 1px solid #f2f2f2;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 8rem;
    position: relative;
    background-image: url("img/bg.jpg");
    background-size: cover;
    color: #fff;
}

.header .overlay {
    background-color: #004d98;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header .header-content {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    font-size: 1.8rem;
    margin: 0 0 -20px 0;
}

.header .header-logo {
    width: 96px;
    height: 96px;
    margin: 0 1rem 0 0;
}

.tier {
    display: flex;
}

.tier.first {
    margin: 3rem 0 0 0;
}

.tier-labels {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 15%;
}

.tier-labels .tier-color {
    width: 1rem;
    height: 1rem;
    margin: 0 1rem 0 0;
    border-radius: 0.1rem;
}

.tier-labels .tier-title {
    font-size: 1.4rem;
}

.tier-color-official {
    background-color: #0dbc00;
}

.tier-color-1 {
    background-color: #12ff00;
}

.tier-color-2 {
    background-color: #fffc00;
}

.tier-color-3 {
    background-color: #ffba00;
}

.tier-color-4 {
    background-color: #ff8039;
}

.tier-color-5 {
    background-color: #ff0000;
}

.tier-color-aggregator {
    background-color: #999999;
}

.tier-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 85%;
    padding: 0 2rem;
}

.tier-content a {
    text-decoration: none;
}

.tier-content .official {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0.5rem;
}

.tier-content .official-logo {
    display: inline-block;
    margin: 0 0.5rem 0 0;
    width: 24px;
    height: 24px;
}

.tier-content .source,
.tier-content .tier-notes {
    cursor: pointer;
    margin: 0.5rem 0.5rem;
    user-select: none;
    -moz-user-select: none;
}

.tier-content .source.journalist {
    color: #3f5d7a;
}

.tier-content .source.journalist:active {
    color: rgba(62, 93, 121, 0.5);
    box-shadow: 0 2px 0 0px rgba(62, 93, 121, 0.25);
}

.tier-content .source.media {
    color: #7a3f3f;
    font-weight: bold;
}

.tier-content .source.media:active {
    color: rgba(121, 62, 62, 0.5);
    box-shadow: 0 2px 0 0px rgba(121, 62, 62, 0.25);
}

.tier-content .source.aggregator {
    color: #333;
}

.tier-content .source.aggregator:active {
    color: rgba(51, 51, 51, 0.5);
    box-shadow: 0 2px 0 0px rgba(51, 51, 51, 0.25);
}

.tier-content .source .workplace {
    color: #333;
    font-weight: bold;
    font-size: 12px;
}

.tier-content .source:active .workplace {
    color: rgba(51, 51, 51, 0.25);
}

.tier-content .tier-notes {
    margin: 0.5rem 0.5rem;
    color: #424242;
    line-height: 1.6;
}

.footer {
    display: flex;
    align-items: center;
    height: 40px;
    margin: 0 0 1rem 0;
}

.footer a {
    color: #333;
    text-decoration: none;
}

.footer a:active {
    color: rgba(51, 51, 51, 0.5);
    box-shadow: 0 2px 0 0px rgba(51, 51, 51, 0.25);
}

.footer img {
    width: 24px;
    height: 24px;
    margin: 0 0.25rem 0 0;
}

.footer .subreddit {
    display: flex;
    flex: 1;
    align-items: center;
}

@media all and (max-width: 959px) {
    .container {
        width: 100%;
    }

    .tier {
        flex-direction: column;
        align-items: center;
    }

    .tier .tier-labels {
        width: 100%;
        justify-content: center;
        margin: 0 0 10px 0;
    }

    .tier.first {
        margin: 20px 0 0 0;
    }

    .tier .tier-content {
        width: 95%;
        padding: 0 2.5%;
    }

    .footer {
        padding: 0 2.5%;
    }
}

@media all and (max-width: 530px) {
    .header {
        align-items: center;
    }

    .header .header-content {
        margin: 0;
        font-size: 1.4rem;
    }

    .header .header-logo {
        display: none;
    }
}
