html,
body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.main {
    width: 100%;
    margin: 0 auto;
}

.section {
    width: 900px;
    margin: 2rem 0 2rem 0;
    padding: 1rem 0;
    border-bottom: 32px solid #a50041;
}

.section h1 {
    font-size: 2.5rem;
}

.section h1,
.section h3 {
    margin: 0;
}

.section h3 {
    color: #17538b;
}

.question {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    width: 900px;
}

.question-title {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1rem 0 1rem 0;
    font-size: 1.1rem;
    text-align: left;
}

.question-title .spacer {
    flex: 1;
}

.responses-chart {
    display: none;
    margin: 1rem auto;
    position: relative;
    width: 100%;
    height: 250px;
}

.responses-map {
    margin: 1rem 0 0 0;
}

.responses-map-button a {
    color: #fff;
    text-decoration: none;
}

.responses-cloud {
    display: none;
    margin: 1rem auto;
    padding: 0 2rem;
}

.responses-cloud img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.responses-chart-button,
.responses-map-button,
.responses-cloud-button {
    flex: 2;
    font-size: .85rem;
    text-align: center;
    background-color: #444;
    color: #fff;
    padding: .2rem 0;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
    margin: 0 0 0 .5rem;
}

.question-title span:first-child {
    flex: 1;
    display: block;
}

.question-title span:nth-child(2) {
    flex: 10;
}

.responses {
    display: flex;
    flex-direction: column;
    font-size: .85rem;
    max-height: 35rem;
    max-height: 75vh;
    overflow-y: auto;
}

.response-head {
    background-color: #17538b;
    color: #ffffff;
    margin: 0 0 .25rem 0;
    padding: .4rem 0;
    font-weight: bold;
}

.response-head,
.response-row {
    display: flex;
    align-items: center;
}

.response-row {
    border-bottom: 1px solid #f2f2f2;
    color: #454646;
    cursor: default;
}

.response-row:nth-child(odd) {
    background: #f9f9f9;
}

.response-footer {
    margin: 1rem auto 0 auto;
    background-color: #a50041;
    padding: .2rem 1rem;
    cursor: pointer;
    color: #ffffff;
    font-size: .85rem;
}

.response-head span:nth-child(2),
.response-row span:nth-child(2) {
    flex: 10;
    text-align: left;
    font-weight: bold;
}

.response-head span:first-child,
.response-head span:nth-child(3),
.response-head span:last-child,
.response-row span:first-child,
.response-row span:nth-child(3),
.response-row span:last-child {
    flex: 1;
}

.responses-text .response-head span:last-child,
.responses-text .response-row span:last-child {
    flex: 10;
    text-align: left;
}

.responses-text .response-head span:first-child,
.responses-text .response-row span:first-child {
    flex: 1;
}


.footer {
    display: flex;
}

.icon-question {
    width: 28px;
    height: 28px;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAMAAABF0y+mAAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAQ5QTFRFAAAA+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE+7wE1HnVBQAAAFp0Uk5TABpcl6SdbChdwPX/+s/99OTs+fzqvHd4mtb42noOChYPNqa+YkfIPxF05+XFxOlF7fbRhidDq+JuEk2l10I4yvvM66Gg5jmc7wQMqosyLAeQK5Xz45QDVn8wgGolWwAAAPFJREFUeJyl0tlSwjAUgOEoAcVAKZZNBHdL2VMraFQ2FRBElB3f/0Ush4GB6ckF43935rtIMjmE/KO9fRd15PYcAB56j5gjn98D6ELMVjcgXc1KQFWDx6uJbqEWCkeisZM4iqeJ5Nn5xeUVitc3tzE9ZaQzGGZz+UKgmIxwDBkz76z7UtmH48OjeHrOomcy9lKp1ur4Uxirc742BzaEaEhRJ0SX4iulQSlutcQ3DTPtHdBqKk5TmhZgq61yu+VvmB8cUtstwE7XEHafgL0vARndzuYqLe5l9vrf6J7ZWPgZ4EaGo/GkP5Vs6Gw4/5XQ7v0B4pkojc/IMrUAAAAASUVORK5CYII=);
    background-size: 100%;
    margin: 0 auto;
}

@media all and (max-width: 960px) {

    .container,
    .section,
    .question {
        width: 100%;
    }

    .question .responses-chart {
        margin: 1rem auto;
        position: relative;
        width: 100%;
    }
}

/* @media all and (max-width: 530px) {} */